Q.1

In [5]:
for i in range(1,200 + 1):
    if i > 10:
        total = 0
        for j in str(i):
            total += int(j)
            if total % 2 == 0 and i % 5 == 0:
                print(i,total)

15 6
20 2
20 2
25 2
35 8
40 4
40 4
45 4
55 10
60 6
60 6
65 6
75 12
80 8
80 8
85 8
95 14
105 6
110 2
110 2
115 2
125 8
130 4
130 4
135 4
145 10
150 6
150 6
155 6
165 12
170 8
170 8
175 8
185 14
190 10
190 10
195 10
200 2
200 2
200 2

Q.2

In [17]:
string = input('Python123@')
c_u = 0
c_l = 0
sp = 0
n = 0
for i in str(string):
    if i in 'QWERTYUIOPASDFGHJKLZXCVBNM':
        c_u += string.count(i)
    elif i in 'qwertyuiopasdfghjklzxcvbnm':
        c_l += string.count(i)
    elif i in '123456789':
        n += string.count(i)
    else:
        sp += string.count(i)
print(f'total number of upper characters = {c_u}')
print(f'total number of lower characters = {c_l}')
print(f'total numbers = {n}')
print(f'total special characters = {sp}')

Python123@ Python@123

total number of upper characters = 1
total number of lower characters = 5
total numbers = 3
total special characters = 1

Q.4

In [37]:
number = int(input('Enter Number = '))
rev = 0
while number > 0:
    number = number % 10
    rev = rev * 10 + number % 10
    number //= 10

print(rev)

Enter Number =  123

3

Q.12

In [38]:
lst = [1,5,6,4,7,8,9,5,2,4,3,1,2,5,7,4,3]
print(tuple(set(lst)))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

Q.7

In [44]:
tu = ('apple','banana','chery','mango','greps')
vowel = 'aeiouAEIOU'
result = [len(i) for i in tu if i[0] in vowel]
print(result)

[5]

Q.8

In [46]:
lst = [1,2,3,4,5,6,7,8,9]
result = list(map(lambda x : 'even' if x % 2 == 0 else 'odd',lst))
print(result)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

Q.9

In [49]:
lst = [1,2,3,4,5,6,7,8,9]
def prime(x):
    if x < 2:
        return False
    for i in range(2,int(x ** 0.5) + 1):
        if x % i == 0:
            return False
    return x
result = list(filter(lambda a : prime(a) , lst))
print(result)

[2, 3, 5, 7]

Q.11

In [57]:
from functools import reduce
lst = [1,2,3,4,5,6,7,8,92,5,5,4,5]
square = list(map(lambda x : x ** 2,lst))
#print(square)
total = reduce(lambda x,y : x + y,square)
print(f'Sum of squares of all elements in list = {total}')

Sum of squares of all elements in list = 8759

Q.10

In [60]:
lst = [12,45,32,14,78,2,5,2,3,4,6,7,8,1,2,3]
lst2 = []
for i,v in enumerate(lst,start = 1):
    if i * v > 20:
        lst2.append(v)

print(lst2)

[45, 32, 14, 78, 5, 3, 4, 6, 7, 8, 2, 3]

Q.13

In [78]:
tuple = (1,2,3,4,5,6)
lst = list(tuple)
k = int(input("K Points"))
result = lst[k::] + lst[:k]
print(result)

K Points 2

[3, 4, 5, 6, 1, 2]

Q.14

In [106]:
se = {23,45,20,13,4,5862,85,60,70,90,10,20}
set2 = []
for i in set:
    if i % 10 == 0 and i > 25 :
        set2.append(i)
print(set2)

[70, 90, 60]

Q.21

In [4]:
lst = [i ** 2 for i in range(1,50 + 1)]
lst2 = [j for j in lst if j % 10 == 1 or j % 10 == 5 or j % 10 == 6]
print(lst2)

[1, 16, 25, 36, 81, 121, 196, 225, 256, 361, 441, 576, 625, 676, 841, 961, 1156, 1225, 1296, 1521, 1681, 1936, 2025, 2116, 2401]

Q.15

In [11]:
dic = {'total':234999,'Bonus':25466}
result = {k.upper():v for k,v in dic.items()}
print(result)

{'TOTAL': 234999, 'BONUS': 25466}

Q.16

In [ ]:
lst = ['icecream','chips','chery','rose','fruit','banana','mango']

Q.17

In [14]:
try:
    number = int(input("Enter Number"))
    if 1 < number < 100:
        print(number)
    else:
        raise NameError
except NameError:
    print('Number is Not Between 1 to 100')
    number = int(input("Enter Number"))
else:
    print('No Error Occure')
finally:
    print('Execution Done')

Enter Number 456

Number is Not Between 1 to 100

Enter Number 52

Execution Done

Q.18

In [24]:
try:
    lst = [25,32,14,56,78,95,42,51]
    for i,v in enumerate(lst,start = 1):
        if i == 10:
            print(v)
        else:
            raise ValueError
except ValueError:
    print('Value Missing')

finally:
    print('Execution Done')

Value Missing
Execution Done

Q.23

In [33]:
lst = [52,45,36,21,41]
def celsius_fahre(cel):
    fehrenheit = (cel ** 2) / 100
    return fehrenheit
result = list(map(lambda x : celsius_fahre(x),lst))
print('Converting Temparetures Celsius to Fehrenheit')
print(result)

Converting Temparetures Celsius to Fehrenheit
[27.04, 20.25, 12.96, 4.41, 16.81]

Q.19

In [47]:
fil = open('name.txt','w')
fil.write('2 4 6 8 10 12 14 16 18 20 22 24 26 28 30')
fil.close()

In [48]:
ff = open('name.txt','r')
ff.read()

'2 4 6 8 10 12 14 16 18 20 22 24 26 28 30'